<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rutinas de Gimnasio</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="my-4">Características del Archivo de CSV </h1>
        
        <h2>Estadísticas Descriptivas</h2>
        <!-- Mostrar estadísticas descriptivas -->
        {{ df_csv.tabla_estadisticas | safe }}
        
        <h2 class="mt-4">Información de Columnas</h2>
        <!-- Mostrar información sobre columnas -->
        {{ df_csv.tabla_info | safe }}
        <div class="container" style="overflow: scroll;">
        <h2 class="mt-4">Primeras 5 Filas</h2>
            <!-- Mostrar información sobre columnas -->
            {{ df_csv.tabla | safe }} 
        </div>
    </div>
</body>
